@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

.intro {
    background: url(https://images.unsplash.com/photo-1599707017605-b804c8ca4a44?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
}

.section {
    /* vh = vertical height, 100 persentase buat menuhin 1 layar*/
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    width: 200px;
    border-radius: 100px;
}

.social-media {
    font-size: 30px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.5s;
}

.gambarku {
    transition: 0.5s;
}

.gambarku:hover {
    transform: scale(1.1);
}